<div class="row justify-content-md-center">
    <div class="col-sm-12 col-lg-5">
        <img src="../../../assets/img/perfil-doctores/doctora.png" style="width: 100%;">
    </div>

    <div class="col col-lg-5 col-md-12">
        <div style="display: flex; margin-top: 1%;" >
            <div>
                <img src="../../../assets/img/perfil-doctores/icono.png" style="">
            </div>

            <div>
                <h1> Katherine Armas</h1>
                <div
                    class="titulo">
                    <p style="color: blue; font-weight: 600; padding-left: 10%;"> NUTRICIONISTA</p>
                </div>

                <p style="text-align: justify;"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste recusandae laborum eius harum eos,
                    incidunt blanditiis, voluptatibus neque ab eveniet perferendis sequi veritatis voluptatem itaque
                    distinctio? Asperiores dignissimos nemo velit.</p>

                    <div
                class="titulo">
                    <p style="color: blue; font-weight: 600; padding-left: 10%;"> EXPERIENCIA LABORAL</p>
                </div>
                <p style="text-align: justify;"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste recusandae laborum eius harum eos,
                    incidunt blanditiis, voluptatibus neque ab eveniet perferendis sequi veritatis voluptatem itaque
                    distinctio? Asperiores dignissimos nemo velit.</p>

                    <div
                  class="titulo">
                    <p style="color: blue; font-weight: 600; padding-left: 10%;" > AGENDA TU CITA</p>
                </div>
                <div style="text-align: center;">
                    <input type="datetime-local" style="width: 100%;" placeholder="Selecciona un Servicio">
                </div>
          
             
             
                <div style="text-align: center;">
                <button type="button" class="btn btn-primary agendar " >Agendar Cita</button> 
            </div>

            </div>




        </div>
    </div>

</div>