.titulo{
    border-radius: 25px;
     background-color: rgb(179, 200, 235);
      width: 36%;
       margin-top: 5%; 
       margin-bottom: 5%; 
}
.agendar{
    width: 70%; height: 100px; margin-top: 10%; border-radius: 25px; margin-bottom: 10%;
}


@media (max-width: 600px) {
    .titulo{
        border-radius: 25px;
         background-color: rgb(179, 200, 235);
          width: 100%;
           margin-top: 5%; 
           margin-bottom: 5%; 
    }
    
}