<footer class="mt-10 pt-4 " style="margin-top: 20px;">
  

  
        

    <ul class="nav justify-content-center" style="margin-top: 25px;">
      <li class="nav-item" style="margin-left: 2%;margin-right: 2%;">
        <a href="#" style="color: grey;" class="nav-link" >Acuerdos</a>
        <a href="#" style="color: grey;" class="nav-link" >Políticas de Privacidad</a>
        <a href="#" style="color: grey;" class="nav-link" >Términos y Condiciones</a>
        <a href="#" style="color: grey;" class="nav-link" >Generales</a>
        <a href="#" style="color: grey;" class="nav-link" >para subscriptores</a>
      
      
      </li>
     <li class="nav-item" style="margin-left: 2%;margin-right: 2%;">
        <a href="#" style="color: grey;" class="nav-link" >Soporte Técnco</a>
        <a href="#" style="color: grey;" class="nav-link" >5990987782930</a>
        <a href="#" style="color: grey;" class="nav-link" >hampilab@hotmail.com</a>
      
      
      
      
      
      </li>
      
      
     <li class="nav-item" style="margin-left: 2%;margin-right: 2%;"><a href="#" style="color: grey;" class="nav-link" >
        Atención a Clientes</a>
        <a href="#" style="color: grey;" class="nav-link" >5990987782930</a>
        <a href="#" style="color: grey;" class="nav-link" >hampilab@hotmail.com</a>
      
      </li>
      
      
      <li  class="nav-item">
        <a href="#" style="color: grey;" class="nav-link" >Pago Seguro</a>
      </li>
      </ul>
    
   
  </footer>
  
  <style>
    footer {
      box-shadow: 0 -10px 15px -3px rgb(0 0 0 / 10%);
    }
  </style>
  