<div class="row row-cols-1 row-cols-md-3 g-4">
   
    <div class="col">
        <div class="card" style="border-radius: 25px;">

            <img src="../../../../assets/img/avatar.jpg" class="card-img-top" alt="..." style="margin-left: auto;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-right: auto;
        margin-top: 10%;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Katherine Armas</h5>
                <p class="card-text" style="    font-size: 11pt;
          color: gray;
          text-align: center;">Dirección: Av. Cevallos y Quito.</p>
                <button class="btnprofesion" >
                    NUTRICIONISTA
                </button>

            </div>
            <div class="" style="display: flex;">

                <button class="btncards1" style="border-bottom-left-radius: 25px;"style="border-bottom-left-radius: 25px;">
                    Costo Cliente Hampi
                    <br>
                    $15
                </button>
                <button class="btncards" style="border-bottom-right-radius: 25px;">
                    Costo Público
                    <br>
                    $15
                </button>


            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="border-radius: 25px;">

            <img src="../../../../assets/img/avatar.jpg" class="card-img-top" alt="..." style="margin-left: auto;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-right: auto;
        margin-top: 10%;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Katherine Armas</h5>
                <p class="card-text" style="    font-size: 11pt;
          color: gray;
          text-align: center;">Dirección: Av. Cevallos y Quito.</p>
                <button class="btnprofesion">
                    NUTRICIONISTA
                </button>

            </div>
            <div class="" style="display: flex;">

                <button class="btncards1" style="border-bottom-left-radius: 25px;" style="border-bottom-left-radius: 25px;">
                    Costo Cliente Hampi
                    <br>
                    $15
                </button>
                <button class="btncards" style="border-bottom-right-radius: 25px;">
                    Costo Público
                    <br>
                    $15
                </button>


            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="border-radius: 25px;">

            <img src="../../../../assets/img/avatar.jpg" class="card-img-top" alt="..." style="margin-left: auto;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-right: auto;
        margin-top: 10%;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Katherine Armas</h5>
                <p class="card-text" style="    font-size: 11pt;
          color: gray;
          text-align: center;">Dirección: Av. Cevallos y Quito.</p>
                <button class="btnprofesion">
                    NUTRICIONISTA
                </button>

            </div>
            <div class="" style="display: flex;">

                <button class="btncards1" style="border-bottom-left-radius: 25px;">
                    Costo Cliente Hampi
                    <br>
                    $15
                </button>
                <button class="btncards" style="border-bottom-right-radius: 25px;">
                    Costo Público
                    <br>
                    $15
                </button>


            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="border-radius: 25px;">

            <img src="../../../../assets/img/avatar.jpg" class="card-img-top" alt="..." style="margin-left: auto;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-right: auto;
        margin-top: 10%;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Katherine Armas</h5>
                <p class="card-text" style="    font-size: 11pt;
          color: gray;
          text-align: center;">Dirección: Av. Cevallos y Quito.</p>
                <button class="btnprofesion">
                    NUTRICIONISTA
                </button>

            </div>
            <div class="" style="display: flex;">

                <button class="btncards1" style="border-bottom-left-radius: 25px;">
                    Costo Cliente Hampi
                    <br>
                    $15
                </button>
                <button class="btncards" style="border-bottom-right-radius: 25px;">
                    Costo Público
                    <br>
                    $15
                </button>


            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="border-radius: 25px;">

            <img src="../../../../assets/img/avatar.jpg" class="card-img-top" alt="..." style="margin-left: auto;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-right: auto;
        margin-top: 10%;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Katherine Armas</h5>
                <p class="card-text" style="    font-size: 11pt;
          color: gray;
          text-align: center;">Dirección: Av. Cevallos y Quito.</p>
                <button class="btnprofesion">
                    NUTRICIONISTA
                </button>

            </div>
            <div class="" style="display: flex;">

                <button class="btncards1" style="border-bottom-left-radius: 25px;">
                    Costo Cliente Hampi
                    <br>
                    $15
                </button>
                <button class="btncards" style="border-bottom-right-radius: 25px;">
                    Costo Público
                    <br>
                    $15
                </button>


            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="border-radius: 25px;">

            <img src="../../../../assets/img/avatar.jpg" class="card-img-top" alt="..." style="margin-left: auto;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-right: auto;
        margin-top: 10%;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Katherine Armas</h5>
                <p class="card-text" style="    font-size: 11pt;
          color: gray;
          text-align: center;">Dirección: Av. Cevallos y Quito.</p>
                <button class="btnprofesion">
                    NUTRICIONISTA
                </button>

            </div>
            <div class="" style="display: flex;">

                <button class="btncards1" style="border-bottom-left-radius: 25px;">
                    Costo Cliente Hampi
                    <br>
                    $15
                </button>
                <button class="btncards" style="border-bottom-right-radius: 25px;">
                    Costo Público
                    <br>
                    $15
                </button>


            </div>
        </div>
    </div>
    
</div>