.btncards{
    border-color: #f3f2f2;
    background-color: #f3f2f2;
    color: gray;
    width: 100%;
    height: 70px;
    font-size: 78%;
    font-weight: 700;
    border: none;
}
.btncards1{
    border-color: none;
    background-color: #2368d6;
    color: white;
    width: 100%;
    height: 70px;
    font-size: 78%;
    font-weight: 700;
    border: none;
}
.btnprofesion{
    background-color: #b2c4ee;
    color: #0b52b6;
    width: 60%;
    border-radius: 50px;
    border-color: #b2c4ee;
    height: 25px;
    margin-left: 20%;
    font-size: x-small;
    font-weight: 700
}