


  
<nav class="navbar navbar-light  navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img  src="/assets/img/hampi.png" style="height: 50px; ">
            
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
         <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="main_nav">
           <ul class="navbar-nav flex-wrap ms-auto">
           
            <li class="nav-item">
                <a class="nav-link" href="#">Doctores</a>
              </li>

             
       
   
           <!-- -------- menu item -------- -->
           <li class="nav-item dropdown has-megamenu  darken-onshow">
               <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Precios </a>
        
           </li>
           
         
           <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Preguntas frecuentes</a>

           
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Blogs</a>
           </li>
           <!-- -------- menu item end// -------- -->
         </ul>
       </div> <!-- navbar-collapse.//    -->
   </div> <!-- container.// -->
   </nav> <!-- navbar-main  .// -->
   
   