


  
<nav class="navbar navbar-light bg-light sticky-top navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/logo.png" style="height: 35px; margin: 10px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
         <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="main_nav">
           <ul class="navbar-nav flex-wrap ms-auto">
           
            <li class="nav-item">
                <a class="nav-link" href="#">Nosotrosssss</a>
              </li>

             
       
   
           <!-- -------- menu item -------- -->
           <li class="nav-item dropdown has-megamenu  darken-onshow">
               <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Consejosss </a>
               <div class="dropdown-menu megamenu" role="menu">
                   <div class="container">
                       <div class="row g-3">
                           <div class="col-lg-2 col-6">
                               <h6 class="title">Cuentas</h6>
                               <ul class="list-unstyled">
                                   <li style="margin-top: 13px;"><a style="color: #4f4f4f; text-decoration:none; margin-top: 13px;" href="/Nosotros/consejoAdministrativo">Consejo de Vigilanciassss</a></li>
                                   <li style="margin-top: 13px;"><a style="color: #4f4f4f;text-decoration:none; margin-top: 13px;" href="Nosotros/consejoVigilancia">Consejo  </a></li>
                          
                                   
                               </ul>
                           </div><!-- end col-3 -->
                          
                        
                           
                           <!-- end col-3 -->
                       </div><!-- end row --> 
                   </div> <!-- container //end-->
               </div> <!-- dropdown-mega-menu.// -->
           </li>
           
           <!-- -------- menu item end// -------- -->
   
           <!-- -------- menu item -------- -->
          
           <!-- -------- menu item end// -------- -->
         </ul>
       </div> <!-- navbar-collapse.//    -->
   </div> <!-- container.// -->
   </nav> <!-- navbar-main  .// -->
   
   
