<app-perfil-doctores-component></app-perfil-doctores-component>>
<div style="background-color: rgba(3, 0, 17, 0.667); padding: 5%;">
    <p style="color: white; text-align: justify; color: white;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, voluptatibus. Labore quas blanditiis voluptates
        officiis excepturi tempora totam impedit ipsam qui maiores! Officiis minima inventore doloremque fuga assumenda
        nisi necessitatibus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati repellat ipsa unde eveniet incidunt, fugiat possimus deserunt omnis ducimus officiis distinctio nostrum quae odio perferendis esse ad delectus aspernatur! Voluptatum!
    </p>
  
</div>