<div class="row" style="background-color: rgb(252, 252, 252);">

    <div class=" col-sm-12 col-md-4" style="padding-left: 5%; background-color: rgb(252, 252, 252); ">
     
        <app-sidebar></app-sidebar>
   
    </div>


    <div class=" col-sm-12  col-md-8" style="padding-right: 10%;">
        <app-buscador></app-buscador>
        <app-cards></app-cards>
    </div>


</div>
<div style="background-color: rgba(3, 0, 17, 0.667); margin-top: 10%; padding: 5%;">
    <p style="color: white; text-align: justify; color: white;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, voluptatibus. Labore quas blanditiis voluptates
        officiis excepturi tempora totam impedit ipsam qui maiores! Officiis minima inventore doloremque fuga assumenda
        nisi necessitatibus?
    </p>
    <p style="color: white; text-align: justify; color: white;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, voluptatibus. Labore quas blanditiis voluptates
        officiis excepturi tempora totam impedit ipsam qui maiores! Officiis minima inventore doloremque fuga assumenda
        nisi necessitatibus?
    </p>
    <p style="color: white; text-align: justify; color: white;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, voluptatibus. Labore quas blanditiis voluptates
        officiis excepturi tempora totam impedit ipsam qui maiores! Officiis minima inventore doloremque fuga assumenda
        nisi necessitatibus?
    </p>
</div>
<!-- <div class="row">
    <div class=" col-sm-12  col-md-12 col-lg-3">">
aaaaaaaa
    </div>
    <div class=" col-sm-12  col-md-12 col-lg-3">">
aaaaaaaaaa
    </div>



</div> -->