
<app-header></app-header>
<!-- <app-sliderhome></app-sliderhome>
<app-collage-home></app-collage-home>
<app-oscus-info-home></app-oscus-info-home> -->
<router-outlet></router-outlet>
<app-footer></app-footer>