<nav class="navbar navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand"></a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscador Doctor" aria-label="Search" style=" border-radius: 25px;">
          
        </form>
    </div>
</nav>
<div class="bordebuscador">
    <nav class="navbar navbar-light  navbar-expand-lg">
        <div class="container">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav3" style="justify-content: flex-start;">
                <ul class="navbar-nav">
                    <div class="hov">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Todos</a>
                        </li>
                    </div>
                    <li class="nav-item">
                        <div class="hov">
                            <a class="nav-link" href="#" >Nutricion</a>
                        </div>
                    </li>

                    <li class="nav-item">

                        <div class="hov">
                            <a class="nav-link" href="#">M. General</a>
                        </div>
                    </li>
                    <li class="nav-item">

                        <div class="hov"> <a class="nav-link" href="#">Endocrinología</a> </div>
                    </li>
                    <li class="nav-item">

                        <div class="hov"><a class="nav-link" href="#">Endocrinología</a> </div>
                    </li>
                    <!-- <span class="navbar-text">
                    <div style="display: flex; justify-content: flex-end; ">
                        <div class="hov"> <a class="nav-link active" aria-current="page" href="#">Todos</a></div>
                            <div class="hov">  <a class="nav-link active" aria-current="page" href="#">Favoritoss</a></div>
                    </div>
                </span> -->

                </ul>

            </div>
            <div class="collapse navbar-collapse" id="main_nav3" style="justify-content: flex-end;">
                <ul class="navbar-nav">
                    <div class="hov">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Todos</a>
                        </li>
                    </div>

                    <div class="hov">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Favoritos</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>