* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(252, 252, 252);

    height: 100%;
    
  }
  .titles{
    text-align: left;
    margin-left: 10%;
    font-weight: 700;
  }
  .bordeslide {
    background-color: rgb(252, 252, 252);
    width: 70%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    border: rgb(213, 213, 213) 3px solid;
    margin-left: 15%;
    margin-top: 10%;
  

  }
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
   
  }
  .bodycontent{
    margin-left:5% ; padding-top: 2%; margin-right: 5%;
  }
  
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-left: 5%;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 250px;
  }
  
  #menu-btn {
    background-color: white;
    color: black;
    margin-left: -62px;
  }
  
  .my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
  }
  @media (max-width: 600px) {
    .side-navbar {
        width: 100%;
         height: 100%;
        position: absolute;
        
        background-color: white;
        transition: 0.5s;
        border-radius: 15px;
        border: gray 3px solid;
        margin-left:5%;
        margin-top: 2%;
    
      }
      
  }